@model IdentityTest.Web.ViewModels.UserClaimViewModel;
@{
    ViewData["Title"] = "CLAIMS";
}

<h2 class="bg-primary m-1 p-1 text-white">Claims</h2>
<a asp-action="Create" asp-route-Id="@Model.UserId" class="btn btn-secondary">Create a Claim</a>

<table class="table table-sm table-bordered">
    <tr>
        <th>Subject</th>
        <th>Issuer</th>
        <th>Type</th>
        <th>Value</th>
        <th>Delete</th>
    </tr>
    @if(Model.Claims != null){
        @foreach (var claim in Model.Claims.OrderBy(x => x.ClaimType))
        {
            <tr>
                <td>@claim.ClaimSubject</td>
                <td>@claim.ClaimIssuer</td>
                <td>@claim.ClaimType</td>
                <td>@claim.ClaimValue</td>
                <td>
                    <a asp-action="Delete" asp-route-Id="@Model.UserId" class="btn btn-danger">
                        <input type="hidden" name="claimValues" value="@claim.ClaimType;@claim.ClaimValue;@claim.ClaimIssuer" />
                        Remove
                    </a>
                </td>
            </tr>
        }               
    }
    else
    {
        <p>Oh, Wooow, such empty, you should add more infor!</p>
    }

</table>